<!-- page content -->
@model MyBlog.DTO.UserDTO

@{
    var cities = ViewBag.Cities as List<MyBlog.DTO.CityDTO>;


}


<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Form Validation</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Yeni Kullanıcı </h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="post" class="form-horizontal form-label-left" novalidate>





                            <p>
                                Blog kullanıcılarının kayıt bölümüdür.
                            </p>
                            <span class="section">Personal Info</span>
                            <div class="item form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-6" for="FirstName">
                                    Adı <span class="required"></span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input id="name" class="form-control col-md-7 col-xs-12" name="FirstName" placeholder="adınız" required="required" type="text">
                                </div>
                                <br />

                            </div>
                            <div class="item form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-6" for="LastName">
                                    soyAdı <span class="required"></span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input id="name" class="form-control col-md-7 col-xs-12" name="LastName" placeholder="soyadınız" required="required" type="text">
                                </div>
                                <br />

                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">İl:</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">

                                    <select class="form-control" name="CityID" id="CityId">
                                        <option>Seçiniz..</option>

                                        @foreach (var item in cities)

                                        {
                                            <option value="@item.CityID" selected>@item.CityName</option>

                                        }

                                    </select>
                                </div>


                            </div>



                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">İlçe:</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">

                                    <select class="form-control" name="TownId" id="TownId">
                                        <option value="">Seçiniz</option>


                                    </select>
                                </div>


                            </div>



                            <div class="item form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-6" for="MobilePhone">
                                    Mobile Phone:: <span class="required"></span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input id="name" class="form-control col-md-7 col-xs-12" name="MobilePhone" placeholder="telefon numaranız" required="required" type="text">
                                </div>
                                <br />

                            </div>


                            <div class="item form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-6" for="EmailAdress">
                                    Email: <span class="required"></span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input id="name" class="form-control col-md-7 col-xs-12" name="EmailAddress" placeholder="e-mail" required="required" type="text">
                                </div>
                                <br />

                            </div>
                            <div class="item form-group">

                                <label class="control-label col-md-3 col-sm-3 col-xs-6" for="Password">
                                    Şifre: <span class="required"></span>
                                </label>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input id="name" class="form-control col-md-7 col-xs-12" name="Password" placeholder="password" required="required" type="text">
                                </div>
                                <br />

                            </div>




                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <a class="btn btn-danger" href="/Category">İptal </a>
                                    <button id="send" type="submit" class="btn btn-success" name="Save" value="Kaydet">Kaydet</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

<script src="~/Content/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#CityId').change(function () {
            var cityId = $('#CityId').val();

            $.ajax({
                url: "/User/GetTownsByCity/" + cityId,
                type: "GET",
                data: {},
                success: function (response) {
                    console.log(response);
                    $('#TownId').empty();
                    $('#TownId').append('<option value="">Seciniz</option>');
                    $.each(response, function (i, v) {

                        $('#TownId').append('<option value="' + v.TownID + '">' + v.TownName + '</option>');

                    });


                },
                error: function (error) {
                    console.log(error);
                }

            })
        });

    })
</script>


